
.navbar {
    background-color: rgb(250, 219, 216) ;
}

.quem-somos {
    background-color: rgb(249,225 , 200);
    }

.margin {
     padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: rgb(235, 222, 240);
}

.servicos {
    background-color: rgb(234, 250, 241);
}

